@media (min-width: 900px) {
	body {
		font-family: "Montserrat", sans-serif;
	}

	h1 {
		font-size: 6em;
		font-family: "Montserrat", sans-serif;
		color:#fff;
		font-weight: 800;
	}

	h3 {
		color:#fff;
		font-size: 2em;
		font-weight: bold;
		color: orange;
	}

	p {
	font-family: "OpenSans-Light", sans-serif;
	font-size: 1em;
	line-height: 1.8em;
	}

	.wrap {
		margin-top: 1rem;
	}

	.container {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: column;
		    flex-direction: column;
	}


	.header {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: justify;
		    justify-content: space-between;
		}

	.menu {
		display: inline-block;
		-ms-flex-item-align: center;
		    -ms-grid-row-align: center;
		    align-self: center; 

	}

	.logo {
		-ms-flex-item-align: center;
		    -ms-grid-row-align: center;
		    align-self: center;
		margin-left: 3em;
	}


	.menu ul {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: row;
		    flex-direction: row;
		-ms-flex-pack: distribute;
		    justify-content: space-around;
		list-style-type: none;
		margin: 0;
	  padding: 1rem; 
	  min-width: 500px;
	}

	.menu ul li {
		text-transform: uppercase;
		font-size: 0.85em;
		font-weight: 300;
		-ms-flex-align: center;
		    align-items: center;
		padding: 1rem;
	}

	.menu ul li:hover {
		font-weight: 400;
	}

	.selected {
		border-bottom: 3px solid #50c878;
	}

	.menu a, a:hover, a:visited {
		color: black;
		text-decoration: none;
	}

	.morda-square {
		width: 40px;
		height: 40px;
		object-fit: contain;
		-ms-flex-item-align: center;
		    -ms-grid-row-align: center;
		    align-self: center;
	}

	/* HERO */
	.container-fluid {
		margin: 0;
		padding: 0;
	}

	.hero {
		display:-ms-flexbox;
		display:flex;
		-ms-flex-direction: column;
		    flex-direction: column;
		-ms-flex-align: center;
		    align-items: center;
		background-image: url("../images/header-bkg@1x.jpg");
		background-size: cover;
	  height:100vh;
	  width:100vw;
	}

	.name {
	  top:50%;
	  text-align:center;
	  width:100%;
	  transform: translate(0,150%);
	}

	.hire-button {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: column;
		    flex-direction: column;
		-ms-flex-pack: center;
		    justify-content: center;
		-ms-flex-align: center;
		    align-items: center;
		border: 3px solid green;
		height: 50px;
	  text-align:center;
	  width:30%;
	  color:#fff;
	  transform: translate(0,850%);	
	  font-family: "Montserrat", sans-serif;
	  text-transform: uppercase;
	  font-weight: bold;
	  font-size:1em;
	  background-color: rgba(0,0,0,0.5);
	}

	.hire-button a {
		color: white;
	}

	/* Facts */
	.facts-block {
		display: -ms-flexbox;
		display: flex;
		height: 400px;
		-ms-flex-align: center;
		    align-items: center;
	}

	.facts-line {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: distribute;
		    justify-content: space-around;	
		-ms-flex-preferred-size: 100%;	
		    flex-basis: 100%;
	}

	.fact {
		text-align: center;
		color: #4BAC9E;
	}
	.fact h1 {
		color: black;
	}


	/* Nice to meet you */

	.nice-block {
		background: #F6F8FA;
		overflow: hidden;
	}

	.nice-block img {
		max-width: 50vw;
	}

	.nice-text {
	/*min-width: 40vw;*/
	padding: 5em;
	font-size: 1.2em;
	line-height: 2.5rem;
	display: block;
	}

	.nice-text h4, .expertise-block h4, .logo-block h4 {
		font-size: 4em;
		font-color: black;
		font-weight: bold;
		margin-top: 1em;
		margin-bottom: 1.4em;
	}

	/* Expertise */

	.expertise-block {
		margin-top: 5em;
		margin-bottom: 5em;

	}

	.expertise-levels {
		text-transform: uppercase;
		margin-top: 1em;
	}

	.fed-scale {
		min-height: 3px;
		min-width: 100%;
		border: 1px solid rgba(0,0,0,0.3);
	}

	.uxui-scale {
		min-height: 3px;
		min-width: 100%;
		border: 1px solid rgba(0,0,0,0.3);
	}

	.mrkt-scale {
		min-height: 3px;
		min-width: 100%;
		border: 1px solid rgba(0,0,0,0.3);
	}

	.fed-level {
		width: 82%;
		height: 3px;
		background-color: darkgray;
	}

	.uxui-level {
		width: 88%;
		height: 3px;
		background-color: darkgray;
	}

	.mrkt-level {
		width: 84%;
		height: 3px;
		background-color: darkgray;
	}

	.expertise-highlights {
		margin-top: 5em;

	}


	.expertise-highlights-text {
		display: flex;
		font-size: 1em;
		justify-content: space-between;		
	}

	.expertise-highlights-text img {
		flex-basis: 10%;
		margin-right: 2em;
		width: 50px;
		height: 50px;
	}

	/* Logos */
	.logo-block {
		margin-top: 5em;
		display: flex;
		background: #F6F8FA;
		justify-content: center;
		text-align: center;
	}

	.logo-block h4 {
		margin-top: 2em;
		text-align:left;
	}

	.logo-block img {
		max-height: 50px;
	}

	.row-logo {
		margin-top: 100px;
		text-transform: uppercase;
	}

	.hawks {
	transition: transform .8s ease-in-out;

	}

	.hawks:hover {
		transform: rotate(1080deg);
	}

 	.logo-block {
 	margin-bottom: 3em;
 	border: 1px solid red;
 }
 	.row-logo-last {
 		margin-bottom: 6em;
 	}

}

@media (min-width: 550px) {  


}


